h1 {
    color:brown;
}

body {
    width: 40rem;
    height: 45rem;
    margin-left: 30rem;
    border-color: brown;
    border-style: ridge;
    border-width: 1rem;
    padding: 1rem;
}

#image_slideshow {
    margin-left: 5rem;
    border: 0.5rem double black;

}

#changing_text {
    color: blue;
    margin-bottom: 0rem;
}